<!-- Footer Area Start -->
<footer class="gauto-footer-area">
    <div class="footer-top-area">
       <div class="container">
          <div class="row">
             <div class="col-lg-4">
                <div class="single-footer">
                   <div class="footer-logo">
                      <a href="#">
                      <img src="assets/img/logo(new).png" alt="footer-logo" />
                      </a>
                   </div>
                   <p>sed do eiusmod tempor incididunt ut labore et dolore magna as aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                   <div class="footer-address">
                      <h3>Head office</h3>
                      <p>125 Big fella St. Road, <span>New York, Hi 5654775</span></p>
                      <ul>
                         <li>Phone: 326487652 </li>
                         <li>Email: example@mail.com</li>
                         <li>Office Time: 9AM- 4PM</li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="single-footer quick_links">
                   <h3>Quick Links</h3>
                   <ul class="quick-links">
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Our Services</a></li>
                      <li><a href="#">Case Studies</a></li>
                      <li><a href="#">Contact us</a></li>
                   </ul>
                   <ul class="quick-links">
                      <li><a href="#">Testimonials</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">latest News</a></li>
                   </ul>
                </div>
                <div class="single-footer newsletter_box">
                   <h3>newsletter</h3>
                   <form>
                      <input type="email" placeholder="Email Address" />
                      <button type="submit"><i class="fa fa-paper-plane"></i></button>
                   </form>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="single-footer">
                   <h3>Recent post</h3>
                   <ul>
                      <li>
                         <div class="single-footer-post">
                            <div class="footer-post-image">
                               <a href="#">
                               <img src="assets/img/post-thumb-3.jpg" alt="footer post" />
                               </a>
                            </div>
                            <div class="footer-post-text">
                               <h3>
                                  <a href="#">
                                  Revealed: How to set goals for you and your team
                                  </a>
                               </h3>
                               <p>Posted on: Jan 12, 2019</p>
                            </div>
                         </div>
                      </li>
                      <li>
                         <div class="single-footer-post">
                            <div class="footer-post-image">
                               <a href="#">
                               <img src="assets/img/post-thumb-2.jpg" alt="footer post" />
                               </a>
                            </div>
                            <div class="footer-post-text">
                               <h3>
                                  <a href="#">
                                  Revealed: How to set goals for you and your team
                                  </a>
                               </h3>
                               <p>Posted on: Jan 12, 2019</p>
                            </div>
                         </div>
                      </li>
                      <li>
                         <div class="single-footer-post">
                            <div class="footer-post-image">
                               <a href="#">
                               <img src="assets/img/post-thumb-1.jpg" alt="footer post" />
                               </a>
                            </div>
                            <div class="footer-post-text">
                               <h3>
                                  <a href="#">
                                  apartment in the sky love three boys of his own.
                                  </a>
                               </h3>
                               <p>Posted on: Jan 12, 2019</p>
                            </div>
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="footer-bottom-area">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <div class="copyright">
                   <p>Lorem Ipsum All Rights Reserved.</p>
                </div>
             </div>
             <div class="col-md-6">
                <div class="footer-social">
                   <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-skype"></i></a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- Footer Area End -->
  
  
 <!--Jquery js-->
 <script src="assets/js/jquery.min.js"></script>
 <!-- Popper JS -->
 <script src="assets/js/popper.min.js"></script>
 <!--Bootstrap js-->
 <script src="assets/js/bootstrap.min.js"></script>
 <!--Owl-Carousel js-->
 <script src="assets/js/owl.carousel.min.js"></script>
 <!--Lightgallery js-->
 <script src="assets/js/lightgallery-all.js"></script>
 <script src="assets/js/custom_lightgallery.js"></script>
 <!--Slicknav js-->
 <script src="assets/js/jquery.slicknav.min.js"></script>
 <!--Magnific js-->
 <script src="assets/js/jquery.magnific-popup.min.js"></script>
 <!--Nice Select js-->
 <script src="assets/js/jquery.nice-select.min.js"></script>
 <!-- Datepicker JS -->
 <script src="assets/js/jquery.datepicker.min.js"></script>
 <!--ClockPicker JS-->
 <script src="assets/js/jquery-clockpicker.min.js"></script>
 <!--Main js-->
 <script src="assets/js/main.js"></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js'></script>


 <script id="rendered-js">
       $('.jDatepicker').datepicker({
          //calendarWeeks: true,  
          todayHighlight: false,
          format: "d-M-yyyy",
          autoclose: true 
       });
 </script>
